.App {
  display: flex;
  flex-grow: 1;
  height: 100vh;
}

.App .sidebar {
  width: 280px;
  box-shadow: 3px -2px 5px -2px rgba(176, 160, 160, 0.75);
  -webkit-box-shadow: 3px -2px 5px -2px rgba(176, 160, 160, 0.75);
  -moz-box-shadow: 3px -2px 5px -2px rgba(176, 160, 160, 0.75);
}

.App .sidebar .logo {
  width: 100%;
  text-align: center;
  padding: 1.5rem 0;
}

.App .sidebar .logo p {
  font-size: 1.2rem;
  color: purple;
  font-weight: 400;
}

.App .sidebar ul {
  width: 100%;
  list-style: none;
  margin-top: 1.5rem;
  font-size: 1rem;
}

.App .sidebar ul li {
  padding: 1rem 2.5rem;
  width: 100%;
  color: rgb(188, 188, 188);
}

.App .sidebar ul li svg {
  width: 25px;
}

.App .sidebar ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.App .logout-btn {
  display: block;
  width: 100%;
  padding: 4.5rem 2.5rem;
  text-align: center;
}

.App .sidebar .logout-btn button {
  color: red;
  background: none;
  outline: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  padding-left: 0.3rem;
}

.App .sidebar .logout-btn button img {
  width: 18px;
}

.App main {
  flex-grow: 1;
}

.App main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  gap: 10px;
}

.App aside {
  width: 290px;
  padding: 0.5rem;
  /* box-shadow: -2px 0px 5px 0px rgba(219, 209, 209, 0.75);
  -webkit-box-shadow: -2px 0px 5px 0px rgba(219, 209, 209, 0.75);
  -moz-box-shadow: -2px 0px 5px 0px rgba(219, 209, 209, 0.75); */
}

.App aside h2 {
  color: #000000;
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 5px;
}

.App .techniques {
  display: grid;
  gap: 7px;
}

.App .techniques a {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 0.25rem 0;
  max-width: 220px;
}

.App .techniques a img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.App .techniques a span {
  font-size: 0.85rem;
}

.App .mainContent {
  display: flex;
  width: 100%;
  height: calc(100% - 56px);
}

.App .mainContent > div {
  flex-grow: 1;
  padding: 0 1rem;
  overflow-y: auto;
  /* scrollbar-width: none; */
}
/* .App .mainContent > div::-webkit-scrollbar,
.App .mainContent > div::-moz-scrollbar,
.App .mainContent > div::-ms-scrollbar {
  display: none;
  width: 0px;
} */

.App article.title p {
  font-size: 1.2rem;
  color: #555555;
}
.App article.title span {
  font-size: 0.9rem;
  color: #555555;
}

.App article.title > div {
  box-shadow: 0px 0px 5px 0px rgba(102, 102, 102, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(102, 102, 102, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(102, 102, 102, 0.75);
  margin: 1.3rem 0 1rem;
  padding: 0.9rem 1.5rem;
  border-radius: 4px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
}

.App article.title div p {
  max-width: 340px;
}

.App article.title div img {
  width: 250px;
  height: 150px;
  border-radius: 0.4rem;
}

.App article.mood-tracker {
  padding: 1rem 0.5px;
}

.App article.mood-tracker .mood-tracker-card {
  box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.08);
  padding: 0.6rem;
}

.App article.mood-tracker .mood-tracker-card p {
  font-weight: lighter;
  font-size: 14px;
}

.App article.mood-tracker .mood-tracker-card .flex-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 5px;
}

.App article.mood-tracker .mood-tracker-card .flex-card .num {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App article.mood-tracker .mood-tracker-card .flex-card .txt {
  text-align: center;
  display: block;
  font-size: 13px;
}

@media screen and (max-width: 900px) {
  .App aside {
    width: 100%;
  }
  .App aside .techniques {
    display: flex;
    gap: 1.5rem;
    /* background-color: red; */
    overflow-x: scroll;
    scrollbar-width: 0px;
  }

  .App aside .techniques::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  .App aside .techniques a {
    display: block;
    text-align: center;
  }

  .App aside .techniques a img {
    display: block;
    margin: 0px auto 5px;
  }

  .App article.mood-tracker {
    display: none;
  }

  .App .mainContent {
    display: block;
    overflow-y: auto;
  }

  .App .mainContent article {
    max-width: 310px;
  }

  .App article.title > div {
    padding: 10px;
    gap: 10px !important;
  }

  .App article.title > div p {
    font-size: 1rem;
    margin: 0 0 10px;
  }

  .App article.title > div img {
    width: 100px;
    height: 90px;
    object-fit: cover;
    margin: 5px auto;
  }
}
